#email,
#password{
    width: 100%;
    padding: 8px 10px;
    margin: 0 0 15px;
    background: #f1faf1;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
select{
    background: #f1faf1;
    width: 4rem;
    height: 4rem;
    padding: 7px;
}
button{
    margin: 25px 0;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: #31344b;
    font-weight: 400;
    display: block;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    position: relative;
    transition: all 0.3s ease;
    text-align: center;
}
#remember_me{
    margin: 10px 0 20px;
}
