textarea{
    width: 100%;
    padding: 8px 10px;
    background: #f1faf1;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
select{
    background: #f1faf1;
    width: 4rem;
    height: 4rem;
    padding: 7px;
}
#evaluate{
    display: block;
    margin: 25px;
    text-align: center;
}
