*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #ecf0f3;
}
nav,
main{
    width: 100%;
    padding: 12px 0;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
nav .menu,
main .content{
    max-width: 1270px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .messages{
    margin: auto;
    padding: 20px;
}
.menu .logo{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #31344b;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul a,
.menu button,
.content .button{
    margin: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #31344b;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    position: relative;
    transition: all 0.3s ease;
}
#logout{
    padding: 8px 12px;
}
.menu ul a:hover:before,
.content .button:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.upper{
    font-size: 40px;
    font-weight: 600;
    color: #31344b;
}
.lower{
    font-size: 40px;
    font-weight: 600;
    color: #31344b;
}
.menu ul a:hover,
.content .button:hover{
    color: #3498db;
}
nav label.btn{
    color: #31344b;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
nav label.cancel{
    position: absolute;
    top: 25px;
    right: 30px;
}
#check{
    display: none;
}
@media (max-width:940px) {
    .menu ul{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 400px;
        padding-top: 45px;
        height: 100%;
        background: #ecf0f3;
        box-shadow: 0 5px 10px #b0b0b5;
        z-index: 12;
        transition: all 0.3s ease;
    }
    .menu ul a{
        display: block;
        font-size: 23px;
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        text-align: center;
    }
    .menu ul a:hover:before{
        box-shadow: none;
    }
    nav label.bars{
        display: block;
    }
    #check:checked ~ label.bars{
        display: none;
    }
    #check:checked ~ ul li label.cancel{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
